.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  opacity: 0.9;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3900ms linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button{
  background-color: #cf0d0d;
  color: white;
  padding-top: 20px;
  padding-left: 35px;
  border-bottom: #000000;
  border-radius: 15%;
  
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0%{transform:translatey(0%);}
  50%{transform:translatey(12%);}
  100%{transform:translatey(-0%);}
  
}

@keyframes App-logo-voltar {
  100% {transform:translatex(-800px)rotate(-1);}
}


.Rodape-text {
  color: rgb(255, 255, 255);
  padding-top:328px;
  font-size: 35%;
}


.cabecario{
  color: rgb(255, 255, 255);
  font-size: 130%;
}